apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${DOCKER_TAG}
  labels:
    app: ${DOCKER_TAG}
spec:
  replicas: ${REPLICAS}
  selector:
    matchLabels:
      app: ${DOCKER_TAG}
  template:
    metadata:
      labels:
        app: ${DOCKER_TAG}
    spec:
      containers:
      - name: ${DOCKER_TAG}
        image: ${FULL_TAG}
        ports:
        - containerPort: ${PORT}
---
apiVersion: v1
kind: Service
metadata:
  name: ${DOCKER_TAG}
spec:
  type: LoadBalancer
  selector:
    app: ${DOCKER_TAG}
  ports:
  - port: ${PORT}
    targetPort: ${PORT}
    protocol: TCP
