# Copy to terraform.tfvars (gitignored) and fill in.
# export DIGITALOCEAN_TOKEN=...

project_name         = "whanos-dev"
region               = "fra1"
registry_name        = "whanos"
cluster_node_count   = 1
cluster_node_size    = "s-2vcpu-2gb"
jenkins_droplet_size = "s-2vcpu-2gb"
ssh_public_key_path  = "../../../ansible/ssh/whanos_vps.pub"
ssh_allow_cidrs      = ["0.0.0.0/0"]
enable_https         = false
