JENKINS_CASC_CFG=/jenkins/casc/jenkins-cfg.yml
JENKINS_ADMIN_PASSWORD=change_me
JENKINS_DOCKER_REGISTRY=
JENKINS_URL=http://localhost:8080
JENKINS_SCRIPTS_DIR=/usr/local/bin/jenkins/scripts

REGISTRY_HOST=registry.digitalocean.com
REGISTRY_NAME=whanos
REGISTRY_USERNAME=your.email@example.com
REGISTRY_TOKEN=your_digitalocean_api_token

# Kubernetes Configuration
LOCAL_KUBECONFIG_PATH=kubeconfig.yaml
KUBECONFIG_PATH=/var/lib/jenkins/kube/config
