JENKINS_HOME={{ jenkins_home }}
JENKINS_PLUGIN_DIR={{ jenkins_home }}/plugins
JENKINS_ADMIN_PASSWORD={{ jenkins_admin_password }}
JENKINS_URL={{ jenkins_url }}
CASC_JENKINS_CONFIG={{ whanos_root }}/jenkins/casc/jenkins-config.yml
REGISTRY_HOST={{ registry_host }}
REGISTRY_NAME={{ registry_name }}
REGISTRY_USERNAME={{ registry_username }}
REGISTRY_TOKEN={{ registry_token }}
KUBECONFIG_PATH={{ kubeconfig_path }}
